*.swp
*.swo
*.swn
*.swm

*.o
*.so

gawk/gawk-*/

malloc/linked-list/test
malloc/buddy/test
malloc/buddy/test2

tests/danluu/test-*
tests/waterloo/test
tests/waterloo/hej
tests/wisc/test

**/.settings/
**/.project
**/.cproject
