*.swp
*.swo
*.swn
*.swm

*.o
*.so

malloc/linked-list/test
malloc/buddy/test
malloc/buddy/test2
malloc/buddy/stats/

tests/danluu/test-*
tests/waterloo/test
tests/waterloo/hej
tests/wisc/test
tests/wisc/hej

**/.settings/
**/.project
**/.cproject
